@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}
.create {
  padding: 20px;
  box-shadow: 0px 1px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 7px -2px rgba(0, 0, 0, 0.75);
  margin: 20px 0;
  border-radius: 8px;
  width: 90vw;
  height: auto;
}
.main h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
.add-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-area {
  border: 1px solid rgb(221, 221, 221);
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.add-ttls {
  margin-top: 4px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
  width: 100%;
  padding: 10px;
}
.display-image {
  padding: 20px;
  width: auto;
  border-radius: 10px;
  object-fit: cover;
  height: auto;
  display: grid;
  place-items: center;
}
.display-image img {
  border-radius: 10px;
  box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.75);
}
.trace {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px dotted rgb(179, 179, 179);
  padding: 10px;
}
.enter-image {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 40vh;
  align-items: center;
}
.font-cross {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.font-cross i {
  font-size: 25px;
  cursor: pointer;
  color: rgb(151, 151, 151);
}
.trace-2 {
  border-radius: 10px;
  border: 1px dotted rgb(179, 179, 179);
  margin-bottom: 10px;
  padding: 10px;
}
.uplaod-lable {
  box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  background-color: rgb(113, 194, 255);
  color: white;
  padding: 5px 30px;
  cursor: pointer;
}
.upload-image-class {
  width: 100px;
}
.button-class-submit {
  margin-top: 10px;
}
.button-class-submit {
  font-size: 18px;
  background-image: linear-gradient(
    130deg,
    hsl(240deg 97% 13%) 0%,
    hsl(217deg 100% 19%) 54%,
    hsl(206deg 100% 24%) 86%,
    hsl(197deg 100% 26%) 94%,
    hsl(186deg 100% 28%) 98%,
    hsl(175deg 66% 36%) 100%,
    hsl(154deg 63% 37%) 100%,
    hsl(93deg 59% 37%) 101%,
    hsl(57deg 100% 28%) 101%,
    hsl(31deg 100% 39%) 100%,
    hsl(0deg 100% 50%) 100%
  );
  padding: 5px 20px;
  color: white;
  transition: 0.2s;
  border-radius: 10px;
}

.mainbox {
  height: 100%;
}
.sliderimage {
  object-fit: cover;
  width: 100%;
  height: 70vh;
}
@media (max-width: 600px) {
  .single-post-blog-data {
    display: none;
  }
}
/*auth*/
.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}
.form-inputs {
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  padding: 4px;
  border-radius: 10px;
  border: nome;
}
.form-inputs:focus {
  outline: none;
}
.register-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 7px 20px;
  height: auto;
  width: 29vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.submit button {
  color: white;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(48, 70, 169);
  font-size: 20px;
  padding: 5px 0px;
  margin: 23px 0;
}
.form-lables {
  font-size: 17px;
}
.para-inp {
  text-align: center;
  margin-bottom: 10px;
}
.inp-link {
  color: blue;
}
.input-div {
  padding: 13px 0px;
}
.head {
  font-size: 30px;
  font-weight: 900;
}
.nav-links a {
  font-size: 20px;
  margin: 10px;
}



/*side form*/
.formOuter {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formOuter form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 2;
  min-height: 357px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.formOuter label {
  margin-top: 10px;
}
.formOuter form input {
  width: 100%;
  border-bottom: 1px solid black;
  background: transparent;
  border: nome;
}

.formOuter form input:focus{
outline: none;
border-bottom: 1px solid blue;

}


.formOuter form button {
  margin-top: 2rem;
  color: white;
  text-transform: uppercase;
  background-color: #5e76bf;
}
.formOuter form button:hover {
  opacity: 0.9;
}
/*login profile*/
.profileBox {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.profile {
  width: 40px;
  height: 40px;
  display: grid;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  place-items: center;
  background-color: #1553a1;
  font-family: "Poppins", sans-serif;
}
.profileBox .userName {
  color: #444;
  cursor: pointer;
  transition: cubic-bezier(1.19, 1, 0.22, 1) ease-in;
}
.profileBox .userName:hover {
  color: darkcyan;
}
.nav-links {
  font-size: 17px;
}

/*DASHBOARD*/
.dashboard-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-all-blogs-main {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 15px 0 0 0;
  border-radius: 0.2rem;
  padding: 20px;
  width: 95%;
  height: auto;
}
.flex-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.dashboard-blog-main {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0.2rem;
  padding: 8px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.main-blog-image {
  object-fit: cover;
  height: auto;
  width: 170px;
}
.main-blog-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.dashboard-blog-data {
  margin: 10px 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.dashboard-blog-data h2 {
  background-color: #1553a1;
  color: white;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
}
.dashboard-blog-data p {
  color: rgb(92, 92, 92);
}
.dashboard-blog-handling {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-blog-data-parent {
  display: flex;
}
.fa-trash {
  cursor: pointer;
  padding: 6px;
  color: red;
  font-size: 18px;
}
.fa-edit {
  cursor: pointer;
  color: blue;
  font-size: 18px;
  padding: 2px 8px;
}
.fa-solid {
  cursor: pointer;
  padding: 6px;
  color: black;
  font-size: 18px;
}

.App {
  padding: 30px 40px;
}

.MaxPad {
  max-width: 1200px;
  padding: 50px 0px;
}
.DivAligns {
  padding: 18px;
}


.MaxPad-2 {
  
  margin: auto;
  max-width: 1200px;
  padding: 20px 20px;
}