*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.MaxPad{
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
}
.MarGin{
   display: grid;
   place-items: center;
}
.MarGin img{
width: 100%;
height: auto;
border-radius: 20px;
}
.single-post-blog-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .single-post-blog-cat {
    padding: 2px 20px;
    color: white;
    background-color: #3366CD;
    border-radius: 15px;
  }
  .single-post-blog-date {
    padding: 2px 20px;
    color: white;
    background-color: #3366CD;
    border-radius: 15px;
  }